<!doctype html>
<html>
<body background="../static/background.jpeg">
    <head>
        
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css" />
        <script>
        $(function() {
            $( "#slider-range-min" ).slider({
                range: "min",
                value: 50,
                min: 0,
                max: 100,
                step: 5,
                slide: function( event, ui ) {
            $( "#amount" ).val(ui.value );
            }
        });
        $( "#amount" ).val($( "#slider-range-min" ).slider( "value" ) );
         });
        </script>



    </head>


    <body>


        <div class="page">
            
            {% block content %}{% endblock %}
            

        </div>


        


    </body>
</html>
