{% extends "base.html" %}
{% block content %}
<body background="../static/background.jpeg">
<form action="{{ url_for('results') }}" method="POST" class="search-box">
  <br/><br/>
<table
 style="font-family: Verdana; background-color: rgb(82, 89, 112); width: 933px; height: 496px; text-align: left; margin-left: auto; margin-right: auto; color: white;" border="0" cellpadding="20" cellspacing="2">
  <tbody>
    <tr>
 
    </tr>
    <tr align="center">
      <td colspan="2" rowspan="1"><big><big><big><big>The
Next Adventure</big></big></big></big></td>
    </tr>
    <tr>
    
    </tr>
    <tr>
      <td style="width: 300px;"><big>Where are you?</big></td>
      <td style="width: 454px;"><input size="20"
 placeholder="Claremont" name="location" type="text"></td>
    </tr>
    <tr>
      <td style="width: 300px;"><big>When are you
free?</big></td>
      <td style="width: 454px;">
      
<input type="date" name="dform">
<input type="time" name="tstartform">
<input type="time" name="tendform"> <br/> <center><small>Start Time &nbsp &nbsp &nbsp End Time</small></center>



      </td>
    </tr>
    
    </tr>
    <tr>
      <td style="width: 100px;"><big>How much can
you spend?</big></td>
      <td style="width: 100px;">
      <p><label for="amount">Maximum price: ($)</label>
      <input id="amount"
 style="border: 0pt none ; color: rgb(246, 147, 31); font-weight: bold;"
 type="text" name="budget_menu"></p>
      </td>
    </tr>
    <tr>
      <td style="width: 100px;"></td>
      <td style="width: 100px;">
      <div id="slider-range-min"></div>
      </td>
    </tr>
    <tr>
      <td style="width: 300px;"></td>
      <td style="width: 454px;"><input value="Submit"
 type="submit"></td>
    </tr>
  </tbody>
</table>



</form>
</br></br>
</body>
{% endblock %}
